{% extends 'boring/base.html' %}
{% block main %}
<div class="faq-wrapper">
{% comment %} IMAGE MISSING! {% endcomment %}
    {% load static %}
    <figure><img src="{% static 'boring/images/logo200px.png' %}" alt="logo"></figure>
    <article class="faq">
        <header><h1>Frequently Asked Questions (FAQ)</h1></header>
        <article class="question1">
            <p class="question"><span class="q">Q.</span>Why does the boring website exists?</p>
            <p class="answer"><span class="a">A.</span>It's an assigment for Univercity.</p>
        </article>
        <article class="question2">
            <p class="question"><span class="q">A.</span>Why did you decided to create the boringWeb?</p>
            <p class="answer"><span class="a">Q.</span>Although this website could be about anything else... I was too bored to pick other subject.</p>
        </article>
        <article class="question3">
            <p class="question"><span class="q">Q.</span>When did you launch the Boring Website?</p>
            <p class="answer"><span class="a">A.</span>On development at the moment, but I really hope it's going to production soon!</p>
        </article>
        <article class="question4">
            <p class="question"><span class="q">Q.</span>When did you started this project?</p>
            <p class="answer"><span class="a">A.</span>The First commit to this project was the 2nd of April 2021.</p>
        </article>
        <article class="question5">
            <p class="question"><span class="q">Q.</span>Which programming languages did you use for this website?</p>
            <p class="answer"><span class="a">A.</span>So far: HTML5, CSS, JS & PHP.</p>
        </article>
        <article class="question6">
            <p class="question"><span class="q">Q.</span>For how much would you sell this website?</p>
            <p class="answer"><span class="a">A.</span>I would probably sell it for €4000.</p>
        </article>
    </article>
</div>
{% endblock %}