{% extends 'boring_website/base.html' %}

{% block main %}
    <h1 class="text-center"><a href={% url 'boring:profile' %}><i class="fas fa-arrow-left text-dark"></i></a>  {{ user.username }}'s Game</h1>
    <div class="boring-games-container">
        <div class="m-0 row justify-content-center">
            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="card mb-3">
                    <div class="card-body text-center">
                        <form action="{% url 'boring:game' game.id %}" method="post">
                            {% csrf_token %}
                            {{ form.as_table }}
                            <input type="submit" value="Update" class="btn btn-primary btn-block">
                            <a href={% url 'boring:delete_game' game.id %} class="btn btn-danger btn-block">Destroy</a>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="card mb-3">
                    <div class="card-body text-center">
                        <h4 class="card-title"> {{ game.name }} </h4>
                        <span class="card-text text-center">
                            <h6> {{ game.getCat.1 }} </h6>
                            <h1><i class="{{ game.iconClass1 }} {{ game.iconClass2 }}"></i></h1>
                            <p>Points per Win: {{ game.points_per_win }}</p>
                            <p>Function: {{ game.function }}</p>
                            <p>Description: {{ game.description }}</p>
                            {% if game.active %}
                                <span class="badge badge-success">Active</span>
                            {% else %}
                                <span class="badge badge-danger">Unactive</span>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
   </div>
{% endblock %}


