{% extends 'boring_website/base.html' %}

{% block main %}
<h1 class="text-center"><a href={% url 'boring:profile' %}><i class="fas fa-home"></i></a>{{ user.username }}'s Games</h1>
   <div class="container boring-games-container">
      <div class="row justify-content-center">
         {% for game in games %}
            <div class="card m-2">
               <div class="card-body">
                  <h4 class="card-title"> {{ game.name }} </h4>
                  <span class="card-text text-center">
                     <h6> {{ game.getCat.1 }} </h6>
                     <h1><i class="{{ game.iconClass1 }} {{ game.iconClass2 }}"></i></h1>   
                     <a href="{% url 'boring:game' game.id %}" class="btn btn-primary btn-block">Edit</a>
                     <a href={% url 'boring:delete_game' game.id %} class="btn btn-danger btn-block">Destroy</a>
                  </span>
               </div>
            </div>
         {% empty %}
            Uppsss, You don't have any games :(
         {% endfor %}
      </div>
   </div>
{% endblock %}
