{% extends 'boring_website/base.html' %}

{% block main %}
   <h1 class="text-center"><a href={% url 'boring:profile' %}><i class="fas fa-arrow-left text-dark"></i></a>  {{ user.username }}'s Post</h1>
   <div class="container boring-games-container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="card mb-3">
                    <div class="card-body text-center">
                        <form action="{% url 'boring:post' post.id %}" method="post">
                            {% csrf_token %}
                            {{ form.as_table }}
                            <input type="submit" value="Update" class="btn btn-primary btn-block">
                            <a href={% url 'boring:delete_post' post.id %} class="btn btn-danger btn-block" onclick="return confirm('Do you really want to delete: {{post.title}}')">Destroy</a>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12">
                <div class="card mb-3">
                    <div class="card-body text-center">
                        <span class="float-right"> {{  post.created_at}}</span>
                        <br>
                        <h4 class="card-title"> {{ post.title }} </h4>
                        <h6 class="card-title"> {{ post.short_description }} </h6>
                        <span class="card-text">
                            <h5> {{ post.description }} </h5>
                            <h6>Active: {{ post.active }} </h6>   
                        </span>
                    </div>
                </div>
            </div>
        </div>
   </div>
{% endblock %}
