* {
	scroll-behavior: smooth;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {width: 100%;}
body {
	width: 100%;
	margin: 0;
	background: linear-gradient(-45deg, #17eb76, #0be683, #4fe3b9, #8cd5ff, #d380ff, #f7a3f6);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	font-family: 'Nova Mono', monospace;
}
#navBar {z-index: 999;}
.topnav {
	position: relative;
	overflow: hidden;
	background: #5712c7e6;
}
.topnav a img {height: 40px;}
.topnav a { 
	float: left;
	color: lightgray;
	padding: 14px 16px;
	font-size: 25px;
}
.topnav a:hover, .topnav #darkMode:hover{ 
	background-color: rgb(206, 190, 232);
	color: black;
}
.topnav a.active { 
	opacity: 0.8;
	background: linear-gradient(-45deg, #17eb76, #0be683, #4fe3b9, #8cd5ff, #d380ff, #f7a3f6);
	background-size: 400% 400%;	
	animation: gradient 5s ease infinite;
	color: black;
}
.topnav-centered a {
	float: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.topnav-centered a:hover img {transform: rotateY(360deg);}
.topnav-centered a img {transition: transform 1.0s;}
.topnav-right { float: right;}
.topnav .topnav-right #darkMode {color: dimgray;}
#admin_user {
	z-index: 10;
	position: fixed;
	bottom: 1%;
	right: 1%;
	opacity: 0.8;
	border: none;
}
#admin_user:hover {opacity: 1;}
#boring-main-container {
	width: 100%;
	min-height: 100vh;
}
.footer {
	background-color: rgb(255, 197, 185);
	background-image: url(../images/logo100px.png);
  	color: #fff;
	text-align: center;
}
.footer .quick-links {padding: 0.5rem;background: rgba(87, 18, 199, 0.90);}
.footer .quicks a {
	display: block;
	text-decoration: none;
	color: #ffebf6;
	cursor: pointer;
}
.footer .quicks a:hover {opacity: 0.8;background-color: rgba(0, 0, 0, 0.2);}
.footer .socials-list {margin: 10px; display: inline;}
.footer .socials-list li {display: inline;margin: 0 1rem;}
.footer .socials-list li:hover, .footer .quicks li:hover {opacity: 0.8;}
.footer .socials-list .facebook a {color: #3b5998;} 
.footer .socials-list .instagram a { color: #e1306c;}
.footer .socials-list .youtube a {color: #FF0000;}
.footer .socials-list .github a { color: #4078c0;}
.footer .socials-list .twitch a {color: #9147fe;}
.footer .socials-list .hat a {color: gray;}
#notice {
	position: absolute;
	z-index: 10;
	margin-top: 1rem;
    background: rgba(0, 0 ,0 ,0.6);
    padding: 0.5rem;
    border-radius: 1em;
}
@keyframes gradient {
	0% {
	  background-position: 0% 50%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0% 50%;
	}
}
@media only screen and (min-width: 901px) {
	nav {
		position: sticky;
		top: 0;
	}
}
@media only screen and (max-width: 900px) {
	.topnav{width: 100%;text-align: center;}
	.topnav a, .topnav-right {float: none;display: block}
	.topnav-centered a {position: relative;top: 0;left: 0;transform: none;}
}