.posts_title{
	text-align: center;
	color: #5c5a5c;
	font-size: 350%;
	text-shadow: 4px 4px 4px #5c5a5c;
}
.posts_wrapper {
	margin: auto;
	width: 90%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: baseline;
	padding: 0.5em;
}
.posts_wrapper figure {
	text-align: center;
	margin: 0.5rem 1rem;
	padding: 1rem;
	border-radius: 1em;
	background: #ffeea6;
	box-shadow: 4px 4px gray;
	max-width: 40%;
}
.posts_wrapper figure img {
	padding: 1rem;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 0.5em;
	max-width: 350px;
	max-height: 350px;
	width: 80%;
}
.posts_wrapper figure figcaption {
	padding: 1rem;
	font-size: 150%;
	color: #444;
	padding-bottom: 0;
}
.posts_wrapper figure button {
	background: none;
	border: none;
}
.posts_wrapper figure img:hover {opacity: 0.75;}
.posts_wrapper figure details { 
	margin-top: 1rem;
	cursor: pointer;
	background: #fff;
	padding: 0.4rem;
	border-radius: 1em;
}
.posts_wrapper figure details footer { 
	text-align: right;
	font-size: 80%;
	color:  #5712c7e6;
}
.posts_wrapper #imageWindowDisplayer {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9998;
	top: 10%;
	width: auto;
	height: auto;
	display: none;
	max-width: 90%;
	border-radius: 1em;
	padding: 1rem;
}
.posts_wrapper #imageWindowDisplayer img {
	border-radius: 0 1em 0 0;
	max-height: 600px;
}
.posts_wrapper #imageWindowDisplayer i {
	cursor: pointer;
	position: absolute;
	top: -5px;
	right: -5px;
	font-size: 200%;
	color: red;
}
.posts_wrapper  #imageWindowDisplayer i:hover {
	font-size: 250%;
}