<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Boring Web</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs=" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'boring_website/images/favicon.ico' %}"/>
	<link rel="stylesheet" href="{% static 'boring_website/css/base.css' %}">
	<link rel="stylesheet" href="{% static 'boring_website/css/home.css' %}">
	<link rel="stylesheet" href="{% static 'boring_website/css/faq.css' %}">
	<link rel="stylesheet" href="{% static 'boring_website/css/posts.css' %}">
	<link rel="stylesheet" href="{% static 'boring_website/css/games.css' %}">
	<link rel="stylesheet" href="{% static 'boring/css/profile.css' %}">
	<link rel="stylesheet" href="{% static 'boring/css/boringGames.css' %}">
	<link rel="stylesheet" href="{% static 'boring/css/login.css' %}">
	<script src="https://kit.fontawesome.com/72e594ef21.js" crossorigin="anonymous"></script>
    <script src={% static 'boring_website/js/base.js' %}></script>
</head>
<body data-review="{% url 'boring_website:review' %}">
	<div id="review-container" class="jumbotron fluid-jumbotron">
        <h2>Time to Review the website<br>We will you offer you 5 free diamonds.</h2>
		<div class="container pt-4">
        	<form action="{% url 'boring_website:send_review' %}" method="POST" id="review-inputs">
            	{% csrf_token %}
        	</form>
		</div>
    </div>
    <nav id="navBar">
		<div class="topnav">
			<div class="topnav-centered">
				<a href="{% url 'boring_website:home' %}"><img src="{% static 'boring_website/images/logo100px.png' %}" alt="logo"></a>
			</div>
			<a href="{% url 'boring_website:home' %}" class="active">Home</a>
			<a href="{% url 'boring_website:quizz' %}">Quizz</a>
			<a href="{% url 'boring_website:games' %}">Games</a>
			<a href="{% url 'boring_website:posts' %}">Posts</a>
			<a href="{% url 'boring_website:faq' %}">FAQ</a>
			<div class="topnav-right">
				<a id="darkMode" onclick="myFunction()"><i class="fas fa-moon"></i></a>
				{% if user.is_authenticated %}
					<a class="profile" href="{% url 'boring:profile' %}"><i class="fas fa-user"></i></a>
				{% else %}
					<a class="profile" href="{% url 'boring:login' %}">Login</a>
				{% endif %}
			</div>
		</div>
	</nav>
	{% if user.is_authenticated %}
		{% if user.boringuser.is_admin %}
			<a href="{% url 'boring:boring_admin' %}" id="admin_user"><i class="fas fa-users-cog display-3 text-secondary bg-dark p-2"></i></a>
		{% endif %}
	{% endif %}
	<div id="boring-main-container">
		{% block main %}
    	{% endblock %}
	</div>
    <div class="footer">
		<div class="quick-links">
			<span class="quicks">
				<a href="{% url 'boring_website:faq' %}">FAQ</a>
				<a href="./news">NEWS</a>
				<a href="{% url 'boring_website:quizz' %}">QUIZZ</a>
				<a href="./website-guide">LAYOUTS</a>
			</span>
			<ul class="socials-list">
				<h3>
					<li class="facebook"><a href="#"><i class="fab fa-facebook"></i></a></li>
					<li class="instagram"><a href="https://www.instagram.com/andy_maedhros/"><i class="fab fa-instagram"></i></a></li>
					<li class="youtube"><a href="https://www.youtube.com/channel/UCOymizMaYr-iXApeSeE2KXg"><i class="fab fa-youtube"></i></a></li>
					<li class="github"><a href="https://github.com/pulgamecanica/BoringDjango"><i class="fab fa-github-alt"></i></a></li>
					<li class="twitch"><a href="https://www.twitch.tv/pulgamecanica"><i class="fab fa-twitch"></i></a></li>
					<li class="hat"><a href="https://www.redhat.com/en"><i class="fab fa-redhat"></i></a></li>
				</h3>
			</ul>
			<h6>Tel: 999-999-999 <i class="fas fa-dot-circle"></i> contact@boring.org</h6>
			<h6>Copyright <i class="far fa-copyright"></i>2021 | By Pulgamecanica & Duarte </h6>
		</div>
	</div>
</body>
</html>