<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Boring Web</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'boring_website/images/favicon.ico' %}"/>
	<link rel="stylesheet" href="{% static 'boring_website/css/base.css' %}">
	<link rel="stylesheet" href="{% static 'boring_website/css/home.css' %}">
	<link rel="stylesheet" href="{% static 'boring_website/css/faq.css' %}">
	<link rel="stylesheet" href="{% static 'boring_website/css/posts.css' %}">
	<link rel="stylesheet" href="{% static 'boring_website/css/games.css' %}">
	<link rel="stylesheet" href="{% static 'boring/css/profile.css' %}">
	<link rel="stylesheet" href="{% static 'boring/css/boringGames.css' %}">
	<link rel="stylesheet" href="{% static 'boring/css/login.css' %}">
	<script src="https://kit.fontawesome.com/72e594ef21.js" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src={% static 'boring_website/js/home.js' %}></script>
	<script src={% static 'boring_website/js/posts.js' %}></script>
	<script src={% static 'boring_website/js/games.js' %}></script>
	<script src={% static 'boring/js/profile.js' %}></script> 
</head>
<body>
    <nav id="navBar">
		<div class="topnav">
			<div class="topnav-centered">
				<a href="{% url 'boring_website:home' %}"><img src="{% static 'boring_website/images/logo100px.png' %}" alt="logo"></a>
			</div>
			<a href="{% url 'boring_website:home' %}" class="active">Home</a>
			<a href="{% url 'boring_website:about' %}">About</a>
			<a href="{% url 'boring_website:games' %}">Games</a>
			<a href="{% url 'boring_website:posts' %}">Posts</a>
			<a href="{% url 'boring_website:faq' %}">FAQ</a>
			<div class="topnav-right">
				<a id="darkMode" onclick="myFunction()"><i class="fas fa-moon"></i></a>
				{% if user.is_authenticated %}
					<a class="profile" href="{% url 'boring:profile' %}"><i class="fas fa-user"></i></a>
				{% else %}
					<a class="profile" href="{% url 'boring:login' %}">Login</a>
				{% endif %}
			</div>
		</div>
	</nav>
	{% block main %}
    {% endblock %}
    <div class="footer">
		<div class="quick-links">
			<span class="quicks">
				<a href="{% url 'boring_website:faq' %}">FAQ</a>
				<a href="./news">NEWS</a>
				<a href="{% url 'boring_website:about' %}">ABOUT</a>
				<a href="./website-guide">LAYOUTS</a>
			</span>
			<ul class="socials-list">
				<h3>
					<li class="facebook"><a href=""><i class="fab fa-facebook"></i></a></li>
					<li class="instagram"><a href=""><i class="fab fa-instagram"></i></a></li>
					<li class="youtube"><a href=""><i class="fab fa-youtube"></i></a></li>
					<li class="github"><a href=""><i class="fab fa-github-alt"></i></a></li>
					<li class="twitch"><a href=""><i class="fab fa-twitch"></i></a></li>
					<li class="hat"><a href=""><i class="fab fa-redhat"></i></a></li>
				</h3>
			</ul>
			<h6>Tel: 999-999-999 <i class="fas fa-dot-circle"></i> contact@boring.org</h6>
			<h6>Copyright <i class="far fa-copyright"></i>2021 | y Pulgamecanica </h6>
		</div>
	</div>
</body>
</html>