{% extends 'boring_website/base.html' %}

{% block main %}
<div class="games-container" id="games-active">
        {% load static %}
		<h1><img src="{% static 'boring_website/images/logo100px.png' %}">GAMES <i class="fas fa-gamepad"></i></h1>
        {% for index, category in games_by_cat %}
            <ul class="dropdown">
                {{ category.1 }}
                {% if  index == 0%}
                    <div class="dropdown-content last-game-link">
                {% else %}
			        <div class="dropdown-content">
                {% endif %}
                {% for game in  category.2 %}
                    <li onclick="loadGame('{{ game.function }}')">{{ game.name }}</li>
                {% endfor %}
                </div>
		    </ul>
        {% endfor %}
		<div class="games-grid">
			<div class="games-options">
				<div class="games-flex-container">
                    {% for game in games  %}
                        <a href="#load-game-section" onclick="loadGame('{{ game.function }}')">
                            <article>
                                <i class="{{ game.iconClass1 }} {{ game.iconClass2 }}"></i>
                                <h6> {{ game.getCat.1 }} </h6>
                                <p> {{ game.name }} </p>
                            </article>
                        </a>
                    {% endfor %}
				</div>
			</div>

			<main class="game-player-section">
				<h2>
                    {% if user.is_authenticated %}
                        <i class="fas fa-user"></i> pulgamecanica
                        <span class="right"><i class="fas fa-coins"></i> 100 <i class="far fa-gem"></i> 99 </span>
                    {% else %}
                        <i class="fas fa-user"></i> anonymous
                        <span class="right"><i class="fas fa-coins"></i> 0 <i class="far fa-gem"></i> 0 </span>
                    {% endif %}
					
					
				</h2>
				<div id="load-game-section" class="game-play-area">
					
					<h1 class="active-game choose-game"> Choose a Boring GAME!</h1>
                    {% for game in games %}
                        <section class="game-box container-of-the-{{ game.function }} hide-game">
                            <section class="game-container">
                                <h2 class="game-title"> {{ game.name }}</h2>
                                <article>
                                    <figure>
                                        <div id="{{ game.function }}" class="game-box-border">
                                            <p> {{ game.name }} </p>
                                            <h1><i class="fas fa-spinner fa-spin"></i></h1>
                                        </div>
                                        <figcaption>{{ game.name }}</figcaption>
                                        <details>
                                            <summary>{{ game.getCat.1 }}</summary>
                                            <p> {{ game.description }}
                                                <span class="loading-dots">
                                                    <i class="fas fa-circle"></i>
                                                    <i class="fas fa-circle"></i>
                                                    <i class="fas fa-circle"></i>
                                                </span>
                                            </p>
                                            <footer><span class='hint'><button onclick="getHint('dj-ninja-game')"><i class="fas fa-question"></i></button></span><p>Developed by {{ game.user.user.username }}</p></footer>
                                            
                                        </details>
                                    </figure>
                                </article>
                            </section>
                        </section>
                    {% endfor %}
				</div>
			</main>
		</div>
	</div>
{% endblock %}
