{% extends 'boring_website/base.html' %}
{% block main %}
	{% load static %}
	<script src={% static 'boring_website/js/posts.js' %}></script>
    <h1 class="posts_title">Posts</h1>
	<div class="posts_wrapper" id="posts-active">
		<span id="imageWindowDisplayer"></span>
		{% for post in posts %}
			<figure>
				<button onclick="openImage('boring_website/images/doggoPost.png')">
					{% load static %}
					<img src="{% static 'boring_website/images/doggoPost.png' %}" alt="dog beagle">
					<figcaption> {{ post.title }} </figcaption>
				</button>
				<details>
					<summary> {{ post.short_description }} </summary>
					<p> {{ post.description }} </p>
					<footer>{{ post.user.user.username }} on {{ post.created_at.day }}/{{ post.created_at.month }}/{{ post.created_at.year }}</footer>
				</details>
			</figure>
		{% endfor %}
	</div>
{% endblock %}